* {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #5f5d5c;
  background-color: #f3eac0;
}

.index h1,
.recipe h1 {
  font-family: monospace;
  font-size: 40px;
  font-weight: lighter;
  text-decoration: underline;
  color: black;
}

h2 {
  font-size: 30px;
  color: #454140;
}

.images {
  width: 300px;
  height: auto;
  margin: 10px;
  flex: 0 0 300px;
}

.cards {
  border: black solid 5px;
  display: flex;
  width: 900px;
  height: fit-content;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-around;
}

.mainpagelink a {
  border: black solid 5px;
  width: 180px;
  height: 40px;
  margin: -150px -0px 0px 780px;
  padding: 7px 0px 7px 15px;
  position: absolute;
  background-color: #cbb8ad;
  font-size: 30px;
  font-family: monospace;
  font-weight: lighter;
  color: black;
  text-decoration: none;
}

.subpagelink a {
  border: black solid 5px;
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 7px 15px 7px 15px;
  background-color: #cbb8ad;
  font-size: 30px;
  font-family: monospace;
  font-weight: lighter;
  color: black;
  text-decoration: none;
}

/*
* {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20px;
    color: #5F5D5C;
    background-color: #F3EAC0;
    margin: 10px 0px 5px 15px;
}

.index h1 ,
.recipe h1 {
    font-family: monospace;
    font-size: 40px;
    font-weight: lighter;
    text-decoration: underline;
    color: black;
}

h2 {
    font-size: 30px;
    color:#454140 ;
}

.index div.borderbox {
    border: #454140;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px lightgray;
    width: 1000px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.borderbox {
    display: inline-flex;
}

.borderbox-c {
    margin-top: 35px;
}
.borderbox-d .box,
.borderbox-e .box {
    display: inline-flex;
    width: 200px;
    height: 5px;
}

.images {
    width: 200px;
    height: auto;
    margin: 10px;
}

.index div.hyperlink {
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background-color: #CBB8AD;
    margin: -120px -0px 0px 850px;
    padding: 7px 0px 7px 15px;
    position: absolute;
}

.index a {
    background-color: #CBB8AD;
    font-size: 25px;
    font-family: monospace;
    font-weight: lighter;
    color:black;
    text-decoration: none;
}

*/
